.link-github {
    background: url("../images/GitHub.png") left top no-repeat;
}
.link-fork {
    background: url("../images/fork.png") left top no-repeat;
}
.link-github span, .link-fork span {
    padding-left: 20px;
}
